<div class="box box-warning">
    <div class="box-header with-border">
        <h3 class="box-title">Health Professional Directory</h3> 
    </div>

    <div class="box-body ng-animate nga-default nga-stagger nga-slide-left-add" ng-if="ready">
        <h1 class="text-danger text-center" ng-if="!ready && loading"><i class="fa fa-spin fa-spinner"></i></h1>
        <div class="alert alert-danger" ng-if="error">{{ error }}</div>
        <div class="row">
            <div class="col-md-4" ng-repeat="hp in hpList">
                <!-- Widget: user widget style 1 -->
                <div class="box box-widget widget-user">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header"
                        ng-class="getBackgroundColor($index)">
                        <h3 class="widget-user-username">{{ hp.name }}</h3>
                        <h5 class="widget-user-desc">{{ hp.title }}</h5>
                    </div>
                    <div class="widget-user-image">
                        <img class="img-circle" 
                            src="../Assets/AdminLTE-2.3.0/dist/img/user1-128x128.jpg" 
                            alt="{{ hp.name }}">
                    </div>
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <h5 class="description-header">{{ hp.cdo }}</h5>
                                    <span class="description-text">San Jose, CA</span>
                                </div><!-- /.description-block -->
                            </div><!-- /.col -->
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <h5 class="description-header">500</h5>
                                    <span class="description-text">Contributions</span>
                                </div><!-- /.description-block -->
                            </div><!-- /.col -->
                            <div class="col-sm-4">
                                <div class="description-block">
                                    <h5 class="description-header">4.5</h5>
                                    <span class="description-text">
                                        <i class="fa fa-star text-warning"></i></span>
                                </div><!-- /.description-block -->
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div>
                </div><!-- /.widget-user -->
            </div>
        </div>
    </div>
</div>
