<md-dialog class="event-dialog" flex="60" flex-sm="100">
    <md-toolbar class="toolbar-default" ng-style="{ 'background-color': vm.selectedColor.backgroundColor, color: vm.selectedColor.textColor }">
        <div class="md-toolbar-tools">
            <h2>
                <span translate>{{::vm.dialogData.title}}</span>
                <span ng-show="vm.event.title"> - {{vm.event.title}}</span>
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancelClick()" aria-label="cancel">
                <md-icon md-font-icon="icon-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-divider></md-divider>

    <md-dialog-content class="sticky-container">
        <div>
            <form class="event-dialog-form" name="eventForm">
                <md-input-container>
                    <label translate>CALENDAR.EVENT.TITLE</label>
                    <input ng-model="vm.event.title" required>
                </md-input-container>
                <md-list>
                    <md-list-item layout="row" layout-align="space-between center">
                        <p translate>CALENDAR.EVENT.ALL-DAY</p>
                        <md-switch class="md-secondary" ng-model="vm.event.allDay" ng-change="vm.allDayChanged()"></md-switch>
                    </md-list-item>
                </md-list>
                <div class="event-dialog-input-row" layout="row" layout-align="start center">
                    <p flex hide-sm translate>CALENDAR.EVENT.START</p>
                    <div layout="row" layout-align="end center">
                        <md-icon class="padding-right-10" md-font-icon="icon-today"></md-icon>
                        <md-select class="padding-right-10" placeholder="{{'CALENDAR.EVENT.YEAR-PICK' | translate}}" ng-model="vm.start.year">
                            <md-option ng-repeat="year in vm.dateSelectOptions.years" ng-value="year">{{::year}}</md-option>
                        </md-select>
                        <md-select class="padding-right-10" placeholder="{{'CALENDAR.EVENT.MONTH-PICK' | translate}}" ng-model="vm.start.month">
                            <md-option ng-repeat="month in vm.dateSelectOptions.months" ng-value="$index" translate>{{::month}}</md-option>
                        </md-select>
                        <md-select class="padding-right-10" placeholder="{{'CALENDAR.EVENT.DATE-PICK' | translate}}" ng-model="vm.start.date">
                            <md-option ng-repeat="date in vm.dateSelectOptions.dates" ng-value="date">{{::date}}</md-option>
                        </md-select>
                    </div>
                </div>
                <div class="event-dialog-input-row" layout="row" layout-align="start center">
                    <p flex translate>CALENDAR.EVENT.START-TIME</p>
                    <div layout="row" layout-align="end center">
                        <md-icon class="padding-right-10" md-font-icon="icon-access-time"></md-icon>
                        <md-select class="padding-right-10" placeholder="{{'CALENDAR.EVENT.HOUR-PICK' | translate}}" ng-model="vm.start.hour">
                            <md-option ng-repeat="hour in vm.dateSelectOptions.hours" ng-value="hour">{{::hour | padding:2}}</md-option>
                        </md-select>
                        <md-select class="padding-right-10" placeholder="{{'CALENDAR.EVENT.MINUTE-PICK' | translate}}" ng-model="vm.start.minute">
                            <md-option ng-repeat="minute in vm.dateSelectOptions.minutes" ng-value="minute">{{::minute | padding:2}}</md-option>
                        </md-select>
                    </div>
                </div>
                <div class="event-dialog-input-row" layout="row" layout-align="start center" ng-hide="vm.event.allDay">
                    <p translate flex hide-sm>CALENDAR.EVENT.END</p>
                    <div layout="row" layout-align="end center">
                        <md-icon class="padding-right-10" md-font-icon="icon-today"></md-icon>
                        <md-select class="padding-right-10" placeholder="{{'CALENDAR.EVENT.YEAR-PICK' | translate}}" ng-model="vm.end.year">
                            <md-option ng-repeat="year in vm.dateSelectOptions.years" ng-value="year">{{::year}}</md-option>
                        </md-select>
                        <md-select class="padding-right-10" placeholder="{{'CALENDAR.EVENT.MONTH-PICK' | translate}}" ng-model="vm.end.month">
                            <md-option ng-repeat="month in vm.dateSelectOptions.months" ng-value="$index" translate>{{::month}}</md-option>
                        </md-select>
                        <md-select class="padding-right-10" placeholder="{{'CALENDAR.EVENT.DATE-PICK' | translate}}" ng-model="vm.end.date">
                            <md-option ng-repeat="date in vm.dateSelectOptions.dates" ng-value="date">{{::date}}</md-option>
                        </md-select>
                    </div>
                </div>
                <div class="event-dialog-input-row" layout="row" layout-align="start center" ng-hide="vm.event.allDay">
                    <p flex translate>CALENDAR.EVENT.END-TIME</p>
                    <div layout="row" layout-align="end center">
                        <md-icon class="padding-right-10" md-font-icon="icon-access-time"></md-icon>
                        <md-select class="padding-right-10" placeholder="{{'CALENDAR.EVENT.HOUR-PICK' | translate}}" ng-model="vm.end.hour">
                            <md-option ng-repeat="hour in vm.dateSelectOptions.hours" ng-value="hour">{{::hour | padding:2}}</md-option>
                        </md-select>
                        <md-select class="padding-right-10" placeholder="{{'CALENDAR.EVENT.MINUTE-PICK' | translate}}" ng-model="vm.end.minute">
                            <md-option ng-repeat="minute in vm.dateSelectOptions.minutes" ng-value="minute">{{::minute | padding:2}}</md-option>
                        </md-select>
                    </div>
                </div>
                <md-input-container>
                    <label translate>CALENDAR.EVENT.LOCATION</label>
                    <input type="text" ng-model="vm.event.location">
                </md-input-container>
                <md-input-container>
                    <label translate>CALENDAR.EVENT.DESCRIPTION</label>
                    <textarea ng-model="vm.event.description"></textarea>
                </md-input-container>
                <md-input-container>
                    <div layout="row" layout-align="space-between center">
                        <p flex translate>CALENDAR.EVENT.COLOR</p>
                        <md-select md-container-class="calendar-color-select" placeholder="{{'CALENDAR.EVENT.COLOR-PICK' | translate}}" ng-model="vm.selectedColor" ng-change="vm.colorChanged()">
                            <md-option ng-value="color" ng-repeat="color in vm.colors">{{color.name}}</md-option>
                        </md-select>
                    </div>
                </md-input-container>
            </form>
        </div>
    </md-dialog-content>

    <div class="md-actions" layout="row">
        <md-button class="md-warn" ng-click="vm.deleteClick()" aria-label="{{'CALENDAR.DELETE' | translate}}" ng-show="vm.edit" translate="CALENDAR.DELETE"></md-button>
        <span flex></span>
        <md-button ng-click="vm.cancelClick()" aria-label="{{'CALENDAR.CANCEL' | translate}}" translate="CALENDAR.CANCEL"></md-button>
        <md-button ng-click="vm.okClick()" class="md-primary" ng-disabled="eventForm.$invalid" aria-label="{{vm.dialogData.confirmButtonText | translate}}" translate="{{::vm.dialogData.confirmButtonText}}"></md-button>
    </div>
</md-dialog>