<!DOCTYPE html>
<html class="hide-sidebar ls-bottom-footer" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Health Professional Account Sign-up</title>

    <link href="../Assets/Social/css/vendor.min.css" rel="stylesheet">

    <link href="../Assets/Social/css/theme-core.min.css" rel="stylesheet">

    <link href="../Assets/Social/css/module-essentials.min.css" rel="stylesheet" />
    <link href="../Assets/Social/css/module-layout.min.css" rel="stylesheet" />
    <link href="../Assets/Social/css/module-sidebar.min.css" rel="stylesheet" />
    <link href="../Assets/Social/css/module-sidebar-skins.min.css" rel="stylesheet" />
    <link href="../Assets/Social/css/module-navbar.min.css" rel="stylesheet" />
    <link href="../Assets/Social/css/module-timeline.min.css" rel="stylesheet" />
    <link href="../Assets/Social/css/module-cover.min.css" rel="stylesheet" />
    <link href="../Assets/Social/css/module-maps.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../Shared/css/branding.css">
    <style>
        .formContainer {
            margin: 100px 0;
        }

        h1 {
            color: #fff;
            text-align: center;
        }

        h3.logoMedicloud {
            margin: 20px;
            padding: 0;
        }

        form {
            padding: 0px 25px;
            margin: 0px 20px;
        }
    </style>
</head>
<body class="login" ng-app="patientSignUp" ng-controller="patientSignUpController">
    <form ng-submit="registerPatient(patient)">
    <div id="content">
        <div class="container-fluid">
            <div id="accountSetup" class="formContainer">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <form role="form" class="form-horizontal text-left" action="#" security-setup-form-dir ng-if="state!='success'">
        <div class="box-body">
            Just one more step. Before you can sign in, let's set up your account:
            <hr />

            <div class="form-group">
                <label for="password">Create a username</label>
                <input type="text" name="username" class="form-control" id="username" placeholder="Username" required ng-model='patient.username'>
            </div>

            <div class="form-group">
                <label for="password">Enter a new Password: {{response}}</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="Password" required ng-model='patient.password'>
            </div>

            <div class="form-group">
                <label for="confPassword">Confirm Password:</label>
                <input type="password" name="confPassword" class="form-control" id="confPassword" placeholder="Type your password again" required ng-model='patient.confPassword'>
            </div>
        </div><!-- /.box-body -->

        <div class="box-footer text-center">
            <div class="alert"
                ng-class="{ 'invisible': response=='', 'alert-warning': state=='warning', 'alert-danger': state=='error' }">
                {{ response }}
            </div>
            <button type="submit" class="btn btn-primary"
                ng-click="resetState()"
                ng-class="{'disabled': state=='waiting'}">
                <span ng-if="state!='waiting'">GO <i class="fa fa-fw fa-send"></i></span>
                <span ng-if="state=='waiting'"><i class="fa fa-spin fa-spinner"></i></span>
            </button>
        </div>
    </form>
                    </div>
                </div>


    <div class="alert alert-success" ng-if="state=='success'">
        Your account is set up successfully! <a href="../HPSignIn">Please click here to sign in.</a>
    </div>
</div>
        </div>
    </div>
    <footer class="footer">
        <strong>Medicloud</strong> &copy; Copyright 2015
    </footer>
    <script>
    var colors = {
        "danger-color": "#e74c3c",
        "success-color": "#81b53e",
        "warning-color": "#f0ad4e",
        "inverse-color": "#2c3e50",
        "info-color": "#2d7cb5",
        "default-color": "#6e7882",
        "default-light-color": "#cfd9db",
        "purple-color": "#9D8AC7",
        "mustard-color": "#d4d171",
        "lightred-color": "#e15258",
        "body-bg": "#f6f6f6"
    };
    var config = {
        theme: "social-1",
        skins: {
            "default": {
                "primary-color": "#16ae9f"
            },
            "orange": {
                "primary-color": "#e74c3c"
            },
            "blue": {
                "primary-color": "#4687ce"
            },
            "purple": {
                "primary-color": "#af86b9"
            },
            "brown": {
                "primary-color": "#c3a961"
            }
        }
    };
    </script>
    <script src="../Assets/Social/js/vendor-core.min.js"></script>
    <script src="../Assets/Social/js/vendor-forms.min.js"></script>
    <script src="../Assets/Social/js/theme-core.min.js"></script>
    <script src="../lib/jab/jab.js"></script>
    <script type="text/javascript" src="app.js"></script>
</body>
</html>
