<div class="row">
    <div class="alert alert-info text-center" ng-if="!verified && loading">
        <h3><i class="fa fa-spin fa-spinner"></i> Verifying...</h3>
    </div>
    <div id="patientSuccessAlert" class="alert alert-success text-center" role="alert"
        ng-show="state=='success' && verified">Success! Redirecting...</div>
    <div class="alert alert-danger text-center" ng-if="error">{{ error }}</div>
</div>


<form ng-submit="registerPatient(patient)" ng-if="verified" name="registerPatientForm">
    <div id="content">
        <div class="container-fluid">
            <div id="accountSetup" class="formContainer">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <form role="form" class="form-horizontal text-left" action="#" 
                            ng-if="state!='success'">
                            <div class="box-body">
                                Just one more step. Before you can sign in, let's set up your account:
                                <hr />

                                <div class="form-group" 
                                    ng-class="{ 'has-error': registerPatientForm.username.$dirty 
                                                    && registerPatientForm.username.$invalid }">
                                    <label for="password">Create a username</label>
                                    <input type="text" name="username" 
                                        class="form-control" id="username" 
                                        placeholder="Username" required ng-model='patient.username'>
                                    <div class="help-block" 
                                        ng-messages="registerPatientForm.username.$error" 
                                        ng-if="registerPatientForm.username.$dirty" role="alert">
                                        <p ng-message="required">Required</p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="password">Enter a new Password: </label>
                                    <input type="password" name="password" 
                                        class="form-control" id="password" 
                                        placeholder="Password" required ng-model='patient.password'>
                                </div>

                                <div class="form-group" ng-class="{ 'has-error': state=='mismatchedPasswords' }">
                                    <label for="confPassword">Confirm Password:</label>
                                    <input type="password" name="confPassword" 
                                        class="form-control" id="confPassword" 
                                        placeholder="Type your password again" required 
                                        ng-model='patient.confPassword'>
                                    <div class="help-block" 
                                        ng-messages="registerPatientForm.confPassword.$error" 
                                        ng-if="state=='mismatchedPasswords'" role="alert">
                                        <p>Passwords must match.</p>
                                    </div>
                                </div>
                            </div><!-- /.box-body -->

                            <div class="box-footer text-center">
                                <button type="submit" class="btn btn-primary"
                                    ng-click="resetState()"
                                    ng-class="{'disabled': state=='waiting'}">
                                    <span ng-if="state!='waiting'">GO <i class="fa fa-fw fa-send"></i></span>
                                    <span ng-if="state=='waiting'"><i class="fa fa-spin fa-spinner"></i></span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

