<div class="observationContent container-fluid" ng-controller="observations_ctrl">
    <ul class="list-inline observationToolbar text-right">
        <li>
        <button type="button" 
            class="addObservation btn btn-circle btn-lg btn-danger"
            ng-click="openObservationForm()">
            <span style="font-size: 24px;">&plus;</span>
        </button>
        </li>
    </ul>

    <!-- The timeline -->
    <ul class="timeline timeline-inverse">
        <!-- timeline time label -->
        <li class="time-label" ng-repeat-start="encounter in patient.encounters">
        <span class="bg-red">
            {{ encounter.encounterDateTime }}
        </span>
        </li>
        <!-- /.timeline-label -->
        <!-- timeline item -->
        <li ng-repeat="observation in encounter.observations" ng-repeat-end>
        <i class="fa fa-user-md bg-blue"></i>
        <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> {{ observation.dateCreated }}</span>
            <h3 class="timeline-header">
                <strong class="text-primary">Patient's state:</strong> {{ observation.state }} 
            </h3>
            <div class="timeline-body">
                <strong class="text-primary">Comments:</strong>
                <pre>
{{ observation.comments }}
                </pre>
            </div>
            <!-- 
            <div class="timeline-footer">
                    <a class="btn btn-warning btn-flat btn-xs">View comments</a>
            </div> 
            -->
        </div>
        </li>
        <!-- END timeline item -->
        <!-- 		timeline item
<li>
        <i class="fa fa-user-md bg-blue"></i>
        <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>
                <h3 class="timeline-header"><strong class="text-primary">Patient state: Post-exercise</strong> </h3>
                <div class="timeline-body">
                        <strong class="text-primary">Dr. Kaur's Observations:</strong>
<pre>
Heart rate normal (120)
Sugar level moderate
</pre>
                </div>
        </div>
</li>
END timeline item
timeline item
<li>
        <i class="fa fa-user bg-green"></i>
        <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>
                <h3 class="timeline-header"><strong class="text-success">Patient's self observations</strong></h3>
                <div class="timeline-body">
<pre>
I'm feeling rashes on my leg
My index finger is also swollen
</pre>
                </div>
        </div>
</li>
END timeline item
timeline time label
<li class="time-label">
        <span class="bg-green">
                3 Jan. 2014
        </span>
</li>
/.timeline-label
timeline item
<li>
        <i class="fa fa-user-md bg-blue"></i>
        <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 2 days ago</span>
                <h3 class="timeline-header"><a href="#">Dr. Takashi</a> uploaded new photos</h3>
                <div class="timeline-body">
                        <img src="http://placehold.it/150x100" alt="..." class="margin">
                        <img src="http://placehold.it/150x100" alt="..." class="margin">
                        <img src="http://placehold.it/150x100" alt="..." class="margin">
                        <img src="http://placehold.it/150x100" alt="..." class="margin">
                </div>

        </div>
</li>
END timeline item -->
        <li>
        <i class="fa fa-clock-o bg-gray"></i> 
        
        <h4 class="text-center">
            <label class="label label-warning" ng-if="waiting">
                <i class="fa fa-spin fa-spinner"></i> Loading...
            </label>
            <em class="text-muted" ng-if="patient.observations.length == 0 &&
                !waiting">
                No observations added yet.
            </em>

        </h4>
        </li>
    </ul>

    <mc-observation-form control="observationForm"></mc-observation-form>
</div>
