<div id="conditions" ng-controller="conditionList_ctrl">
	<div class="btn-toolbar">
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-lg btn-circle btn-danger" ng-click="getNewActiveConditionForm()">&plus;</button>
		</div>
	</div>
	
	<hr />

	<div class="post" ng-repeat="newCond in newActiveConditionForms"
		mc-new-active-condition 
		patient="patient"
		cond-data="newCond"
		on-saved="removeForm($index)"
		on-cancelled="removeForm($index)"></div>
	

	<!-- {"id":"c_205","name":"Wilson's disease","categories":["Gastroenterology","Neurology"],"prevalence":"very_rare","acuteness":"chronic_with_exacerbations","severity":"moderate","sex_filter":"both"} -->
	<div class="post" 
		mc-active-condition 
		active-condition="condition" 
		ng-repeat="condition in patient.conditions | orderBy:'-dateCreated'"
                observation-picker="observationPickerControl"></div>

        <mc-observation-picker control="observationPickerControl"></mc-observation-picker>
</div>
