<div id="conditions" ng-controller="conditions_ctrl">
	<div class="btn-toolbar">
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-lg btn-circle btn-danger" ng-click="appendNewCondition()">&plus;</button>
		</div>
	</div>
	
	<hr />

	<div class="post" ng-repeat="new in newConditions"
		mc-new-condition 
		cond-data="new"></div>
	

	<!-- {"id":"c_205","name":"Wilson's disease","categories":["Gastroenterology","Neurology"],"prevalence":"very_rare","acuteness":"chronic_with_exacerbations","severity":"moderate","sex_filter":"both"} -->
	<div class="post" mc-condition cond-data="condition" ng-repeat="condition in conditions"></div>
</div>