<div class="padded-content-page">
    <p class="md-subhead">Triangular comes with the <a href="http://zavoloklom.github.io/material-design-iconic-font/index.html">Material Design Iconic Font</a> built in.  This font has over 740 material design icons to choose from.</p>

    <p>Click one of the icons below to find out how to add it to triangular!</p>

    <div layout="column">
        <div layout="row" layout-align="space-around center">
            <md-input-container>
                <label>Search icons</label>
                <input type="text" ng-model="searchIcon">
            </md-input-container>
            <md-select placeholder="Pick an icon category" ng-model="searchGroup">
                <md-option ng-value="group" ng-repeat="group in ::vm.groups">{{group}}</md-option>
            </md-select>
        </div>

        <div layout="row" layout-wrap>
            <div class="ui-icons-box-icon padding-10" flex="20" layout="column" layout-align="start center" ng-repeat="icon in vm.icons | filter:{ name: searchIcon, group: searchGroup }" ng-click="vm.selectIcon($event, icon)">
                <md-icon class="font-size-4" md-font-icon="{{::icon.className}}"></md-icon>
                <span class="md-caption margin-top-10">{{::icon.name}}</span>
            </div>
        </div>
    </div>
</div>