<div class="container-fluid">
    <h3 class="text-primary">Patients <span class="text-warning" style="font-size: 24px;" ng-if="waiting"><i class="fa fa-spin fa-spinner"></i></span></h3>

    <div class="row">
        <div id="patientSuccessAlert" class="alert alert-success" role="alert">Patient successfully added!</div>
        <div id="patientFailureAlert" class="alert alert-danger" role="alert">Patient unsuccessfully added!</div>

    </div>

    <div class="row">
        <div class="col col-xs-6">
            <form class="row">
                <div class="col col-xs-9">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" id="SearchIcon"></i></span>
                        <input type="text" ng-model="patientSearchText" class="form-control" placeholder="Search Patients..." aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col col-xs-3 text-center">
                    <button ng-click='toggleModal()' class="btn btn-danger">
                        <i class="fa fa-plus"></i> Add Patient
                    </button>
                </div>
                <modal-dialog show='modalShown' error="error" waiting="waiting" submit="addPatient"></modal-dialog>
            </form>
        </div>

        <div class="col-sm-6 col-md-offset-3 col-md-3">
            <a class="info-box bg-yellow" href="#/calendar">
                <span class="info-box-icon"><i class="fa fa-calendar"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Appointments</span>
                    <span class="info-box-number">{{ appointments.length }}</span>
                    <span class="progress-description">
                        Upcoming
                    </span>
                </div><!-- /.info-box-content -->
            </a><!-- /.info-box -->
        </div><!-- /.col -->
    </div>
    <hr />

    <div class="row">
        <div class="col-xs-6">
            <div class="bootcards-list">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="list-group">
                            <a class="list-group-item list-group-item-success" 
                                href="" 
                                ng-repeat="patient in patientList | orderBy: 'lastName' | filter: patientSearchText" 
                                ng-click="clicked(patient)">

                                <div class="box box-widget widget-user-2">
                                    <!-- Add the bg color to the header using any of the bg-* classes -->
                                    <div class="widget-user-header bg-green">
                                        <div class="widget-user-image">
                                            <img class="img-circle"
                                            src="../Images/patient-placeholder.png" alt="User Avatar">
                                        </div><!-- /.widget-user-image -->
                                        <h3 class="widget-user-username">
                                            {{ patient.lastName }}, {{ patient.firstName }}</h3>
                                        <h5 class="widget-user-desc">{{ patient.birthdate }}</h5>
                                    </div>
                                    <div class="box-footer no-padding">
                                    </div>
                                </div>
                                
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="contactClicked" 
            class="col col-xs-6 ng-animate nga-default nga-stagger nga-fade-add"
            data-spy="affix" data-offset-top="200" >
            <div class="bootcards-card">
                <div class="panel panel-primary">
                    <div class="panel-heading clearfix">
                        <h3 class="panel-title pull-left">Patient Information</h3>
                        <a class="btn btn-primary pull-right btn-flat" ng-href="#/patient/{{selectedPatient.patientId}}">
                            <i class="fa fa-pencil"></i>
                            Profile
                        </a>
                    </div>
                    <div class="list-group">
                        <div class="list-group-item">
                            <p class="list-group-item-text">Name</p>
                            <h4 class="list-group-item-heading">{{selectedPatient.firstName}} {{selectedPatient.lastName}}</h4>
                        </div>

                        <div class="list-group-item" ng-show="selectedPatient.gender">
                            <p class="list-group-item-text">Gender</p>
                            <h4 class="list-group-item-heading">{{ selectedPatient.gender }}</h4>
                        </div>

                        <div class="list-group-item" ng-show="selectedPatient.contact.phone">
                            <p class="list-group-item-text">Phone</p>
                            <h4 class="list-group-item-heading">{{
                                selectedPatient.contact.phone }}</h4>
                        </div>

                        <div class="list-group-item">
                            <p class="list-group-item-text">Email</p>
                            <h4 class="list-group-item-heading">{{selectedPatient.email}}</h4>
                        </div>
                        <div class="list-group-item">
                            <p class="list-group-item-text">Birthdate</p>
                            <h4 class="list-group-item-heading">{{selectedPatient.birthdate}}</h4>
                        </div>

                        <div class="list-group-item list-group-item-danger"
                            ng-show="selectedPatient.conditions[0]">
                            <label class="text-danger">
                                Last Active Condition:
                            </label><br />
                            {{ selectedPatient.conditions[0].name }}
                            <label class="badge">
                                {{ selectedPatient.conditions[0].dateCreated }}
                            </label>
                        </div>
                        
                        <div class="list-group-item list-group-item-warning"
                            ng-show="selectedPatient.labs[0]">
                            <label class="text-warning">
                                Last Updated Lab Test:
                            </label><br />
                            {{ selectedPatient.labs[0].name }}
                            <label class="label label-warning">
                                {{ selectedPatient.labs[0].status }}
                            </label>
                            <label class="badge"
                                ng-show="selectedPatient.labs[0]">
                                {{ selectedPatient.labs[0].lastUpdated }}
                            </label>
                        </div>

                        <div class="list-group-item list-group-item-info"
                            ng-show="selectedPatient.encounters[0]">
                            <label class="text-info">
                                Last Visit:
                            </label><br />
                            <u>Reason:</u> 
                            {{ selectedPatient.encounters[0].description }}
                            <label class="badge"
                                ng-show="selectedPatient.encounters[0]">
                                {{ selectedPatient.encounters[0].encounterDateTime }}
                            </label>
                        </div>

                    </div>
                    <div class="panel-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
