<div class="container">
    <div class="row">
        <div id="patientSuccessAlert" class="alert alert-success" role="alert">Patient successfully added!</div>
        <div id="patientFailureAlert" class="alert alert-danger" role="alert">Patient unsuccessfully added!</div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="bootcards-list">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form>
                            <div class="row">
                                <div class="col-lg-9">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" id="SearchIcon"></i></span>
                                        <input type="text" class="form-control" placeholder="Search Patients..." aria-describedby="basic-addon1">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="input-group">                                       
                                        <a ng-click='toggleModal()' class="btn btn-primary btn-block">
                                            <i class="fa fa-plus"></i>Add
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <modal-dialog show='modalShown' submit="addPatient"></modal-dialog>
                        </form>
                    </div>
                    <div class="list-group">
                        <a class="list-group-item" ng-repeat="patient in patientList | orderBy: 'lastName'" ng-click="clicked(patient)">
                            <h4 class="list-group-item-heading">{{patient.lastName}}, {{patient.firstName}}</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="contactClicked" class="col col-xs-4">
            <div class="bootcards-card">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <h3 class="panel-title pull-left">Patient Information</h3>
                        <a class="btn btn-primary pull-right" href="#">
                            <i class="fa fa-pencil"></i>
                            Edit
                        </a>
                    </div>
                    <div class="list-group">
                        <div class="list-group-item">
                            <p class="list-group-item-text">Name</p>
                            <h4 class="list-group-item-heading">{{selectedPatient.firstName}} {{selectedPatient.lastName}}</h4>
                        </div>
                        <div class="list-group-item">
                            <p class="list-group-item-text">Email</p>
                            <h4 class="list-group-item-heading">{{selectedPatient.email}}</h4>
                        </div>
                        <div class="list-group-item">
                            <p class="list-group-item-text">Birthdate</p>
                            <h4 class="list-group-item-heading">{{selectedPatient.birthdate}}</h4>
                        </div>
                        
                    </div>
                    <div class="panel-footer">
                        <a href="pages/calendar.html">
                            <i class="fa fa-fw fa-calendar"></i>
                        </a>
                        <a href="pages/mailbox/mailbox.html">
                            <i class="fa fa-fw fa-envelope"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
