body {padding:0; margin:0; overflow-x: hidden; font-size:14px; line-height:22px; font-family:'Open Sans'; font-weight: 300;}
ul {padding:0; margin:0;}
li {list-style:none; padding:0; margin:0; font-size:14px; line-height:22px;}
a {text-decoration:none; transition: color 0.3s; color: #35BFF0;}
img {border:none;}
a:hover {color: #2D92B6 !important;}
h3 {font-size:30px; line-height: 38px; font-family:'Open Sans'; color:#2c2c2c; margin:0; padding:0; display:block; font-weight: 300;}
h4 {font-size:16px; font-family:'Open Sans'; color:#2c2c2c; margin:0; padding:0; display:block;}
h5 {font-size:16px; line-height: 30px; font-family:'Open Sans'; color:#fff; margin:0; padding:0; display:block; border-bottom: 1px solid #999; text-transform: uppercase;}
p {padding-right:24px;}
code {color:#ededed;}
pre {overflow-x:auto; white-space:pre-wrap; white-space: -moz-pre-wrap !important; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;}

.centered {text-align:center;}
.margin-top {margin-top:24px;}
.margin-bottom {margin-bottom:24px;}
.mark {color:red;}
.clear {clear:both;}
.content_wrapper {width:100%; padding-left:340px; margin-right:-600px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.sidebar {width:300px; padding:0 20px; position:fixed; height:100%; overflow-y:auto; top:0; left:0; background: #2c2c2c;}
.sidebar-logo {padding-top: 24px;}
.sidebar_block {margin-top:24px; margin-bottom:24px;}
.sidebar_block > ul {padding-top: 8px;}
.sidebar_block ul {padding-left: 12px;}
.sidebar_block a {font-size: 14px; line-height: 22px;}
.sidebar_block a, .sidebar_block h5 {color: #fff;}
.content_element {padding:48px 0;  padding-left:24px;}
.content_element:nth-child(even) {background:#eff3f6; border-top: 1px solid #E6E6E6; border-bottom: 1px solid #E6E6E6;}

.spacing {padding-top: 48px;}