<form id="AddPatientForm" class="form-horizontal" ng-submit="addPatient()">
<div class='ng-modal' ng-show='show'>
  <div class='ng-modal-overlay' ng-click='hideModal()'></div>
  <div class='ng-modal-dialog' ng-style='dialogStyle'>
    <div class='ng-modal-close' ng-click='hideModal()'>X</div>
    <div class='ng-modal-dialog-content' ng-transclude></div>
    <div class="form-group">
      <label class="col-sm-2 control-label">First Name</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" ng-model="patient.firstName" name="firstName">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Last Name</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" ng-model="patient.lastName" name="lastName">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit"class="btn btn-primary" id="AddPatient">Add Patient</button>
      </div>
    </div>
    <h3>{{testing}}</h3>






  </div>
</div>
</form>
