<div class="dashboard-container overlay-5 padded-content-page" layout="column">
    <div layout="row" layout-sm="column" layout-margin>
        <tri-widget calendar-widget flex class="widget-calendar" palette-background="cyan:500" >
            <div layout="row" layout-padding layout-align="space-between center" layout-align-sm="center center">
                <div flex layout="column">
                    <h3 class="md-subhead text-ellipsis margin-0">
                        {{calendarController.currentDay | amDateFormat:'MMMM'}}
                    </h3>
                    <h3 class="md-subhead text-ellipsis margin-0">
                        {{calendarController.currentDay | amDateFormat:'YYYY'}}
                    </h3>
                </div>
                <div class="widget-buttons">
                    <md-button class="widget-button md-icon-button" ng-click="calendarController.changeMonth('prev')" aria-label="previous month">
                        <md-icon md-font-icon="icon-chevron-left"></md-icon>
                    </md-button>
                    <md-button hide show-gt-lg class="widget-button md-icon-button" ng-click="calendarController.changeMonth('today')" aria-label="today">
                        <md-icon md-font-icon="icon-today"></md-icon>
                    </md-button>
                    <md-button class="widget-button md-icon-button" ng-click="calendarController.changeMonth('next')" aria-label="next month">
                        <md-icon md-font-icon="icon-chevron-right"></md-icon>
                    </md-button>
                </div>
            </div>
            <md-divider></md-divider>
            <div layout="column" layout-padding>
                <div ui-calendar="calendarController.calendarOptions" ng-model="calendarController.calendarEvents" calendar="calendarWidget"></div>
            </div>
        </tri-widget>
        <div layout="column" flex layout-margin>
            <tri-widget palette-background="deep-orange:500" content-layout="column" content-layout-align="start space-between">
                <h2 class="md-display-2 font-weight-100 margin-0" flex layout-padding>Call Sue</h2>
                <md-divider></md-divider>
                <div flex="20" layout="row" layout-align="space-between center" layout-padding>
                    <span>Monday 1st March</span>
                    <md-button class="md-icon-button" aria-label="call">
                        <md-icon md-font-icon="icon-call"></md-icon>
                    </md-button>
                </div>
            </tri-widget>
            <tri-widget palette-background="purple:300" content-layout="column" content-layout-align="start space-between">
                <h2 class="md-display-2 font-weight-100 margin-0" flex layout-padding>Clean Desk</h2>
                <md-divider></md-divider>
                <div flex="20" layout="row" layout-align="space-between center" layout-padding>
                    <span>Tuesday 2st March</span>
                    <md-button class="md-icon-button" aria-label="clean">
                        <md-icon md-font-icon="icon-event"></md-icon>
                    </md-button>
                </div>
            </tri-widget>
        </div>
        <tri-widget todo-widget class="dashboard-todo-widget" palette-background="light-blue:600" title="Todo List" subtitle="Your current todo list" title-position="top" content-align="center start" content-padding>
            <md-list flex class="padding-left-0">
                <md-list-item ng-repeat="todo in todos">
                    <md-checkbox ng-model="todo.done"></md-checkbox>
                    <p>{{todo.name}}</p>
                </md-list-item>
            </md-list>
        </tri-widget>
    </div>

    <div layout="row" layout-sm="column" layout-margin>
        <tri-widget class="widget-blog" flex="60" flex-sm="100" content-layout="column" content-layout-align="center top">
            <img src="assets/images/backgrounds/material-backgrounds/mb-bg-01.jpg" alt="some bg">
            <div class="widget-blog-text padding-10">
                <h2>It's all about Material</h2>
                <p>We challenged ourselves to create a visual language for our users that synthesizes the classic principles of good design with the innovation and possibility of technology and science. This is material design.</p>
                <md-fab-speed-dial md-direction="up" class="md-fling">
                    <md-fab-trigger>
                        <md-button aria-label="share this post" class="md-fab md-warn">
                            <md-icon md-font-icon="icon-share"></md-icon>
                        </md-button>
                    </md-fab-trigger>
                    <md-fab-actions>
                        <md-button aria-label="twitter" class="md-fab md-raised md-mini" ng-click="share('Shared on Twitter', $event)">
                            <md-icon md-font-icon="fa fa-twitter"></md-icon>
                        </md-button>
                        <md-button aria-label="facebook" class="md-fab md-raised md-mini" ng-click="share('Shared on Facebook', $event)">
                            <md-icon md-font-icon="fa fa-facebook"></md-icon>
                        </md-button>
                        <md-button aria-label="google-plus" class="md-fab md-raised md-mini" ng-click="share('Shared on Google+', $event)">
                            <md-icon md-font-icon="fa fa-google-plus"></md-icon>
                        </md-button>
                    </md-fab-actions>
                </md-fab-speed-dial>
            </div>
        </tri-widget>

        <tri-widget chat-widget flex class="widget-chat" title="DASHBOARDS.GENERAL.CHAT" content-layout="column" content-layout-align="start">
            <md-divider></md-divider>
            <md-list class="padding-top-20 padding-bottom-0" flex>
                <md-list-item ng-repeat="chat in ::conversation" class="md-2-line" ng-class="userClass($even)" ng-init="userColor = $even ? 'cyan' : 'light-green'">
                    <img class="md-avatar" ng-src="{{::chat.image}}" alt="{{::chat.name}}">
                    <div class="md-list-item-text">
                        <p palette-background="{{::userColor}}:200" ng-repeat="message in ::chat.messages">
                           {{::message}}
                        </p>
                    </div>
                </md-list-item>
            </md-list>
            <div layout="row" layout-align="space-between center">
                <md-input-container flex class="margin-left-20 margin-right-20">
                    <label>Message</label>
                    <input type="text">
                </md-input-container>
            </div>
        </tri-widget>
    </div>
    <div layout="row" layout-sm="column" layout-margin>
        <div layout="column" layout-margin layout-fill flex="40" flex-sm="100">
           <tri-widget flex="70" weather-widget="Sitia" background-image="assets/images/dashboards/weather.jpg" palette-background="deep-orange:800" content-layout="column" content-layout-align="space-between center" flex>

                    <div layout="column" flex layout-align="start center">
                        <p class="md-caption">{{weather.date | amDateFormat:'dddd, MMMM Do YYYY'}}</p>
                        <h1 class="font-size-14 margin-top-80 margin-bottom-80 font-weight-100">
                            {{::weather.temp}}&deg;
                        </h1>
                    </div>
                    <div layout="column" class="full-width overlay-gradient-40">
                        <md-divider></md-divider>
                        <div flex layout="row" layout-margin layout-align="space-between center" class="padding-30">
                            <i class="wi font-size-2" ng-class="weather.iconClass"></i>
                            <p class="margin-0">{{::weather.text}}</p>
                            <p class="margin-0">{{::weather.location}}</p>
                        </div>
                    </div>
            </tri-widget>

            <tri-widget flex title="Color palette" subtitle="Color in material design is inspired by bold hues and bright highlights. "  palette-background="deep-orange:800" background-image="assets/images/backgrounds/material-backgrounds/mb-bg-05.jpg" overlay-title title-position="bottom" >
            </tri-widget>
        </div>

        <div flex layout="column" layout-margin>
            <div layout-margin>
            <tri-widget palette-background="cyan:500" twitter-widget>

                <div layout="row" layout-align="space-between center" class="padding-normal">
                    <i class="fa fa-twitter font-size-4 opacity-50"></i>
                    <h3 flex hide-sm class="md-subhead">Oxygenna's feed</h3>
                    <div class="widget-buttons">
                        <md-button class="md-icon-button" ng-click="prevTweet()" aria-label="previous tweet">
                            <md-icon md-font-icon="icon-keyboard-arrow-left"></md-icon>
                        </md-button>
                        <md-button class="md-icon-button" ng-click="nextTweet()" aria-label="next tweet">
                            <md-icon md-font-icon="icon-keyboard-arrow-right"></md-icon>
                        </md-button>
                    </div>
                </div>
                <div layout="column" class="padding-top-0 padding-left-40 padding-right-40 padding-bottom-40">
                    <md-tabs md-selected="selectedTab" class="dashboard-no-bar-tabs text-center" md-no-pagination md-no-bar md-dynamic-height>
                        <md-tab ng-repeat="tweet in ::tweets" label="tweet.id">
                            <div ng-bind="tweet.body" linkify="twitter" class="font-weight-300 font-size-2 font-style-italic line-height-big"></div>
                        </md-tab>
                    </md-tabs>
                </div>
            </tri-widget>
            </div>
            <div layout="row" layout-margin>
                 <tri-widget flex="50" title="DASHBOARDS.GENERAL.CONTACTS" contacts-widget>
                    <md-list>
                        <md-list-item ng-repeat="contact in ::contacts">
                            <img class="md-avatar" ng-src="{{::contact.image}}" alt="{{::contact.name}}">
                            <p>{{::contact.name}}</p>
                            <md-icon md-font-icon="icon-chat" class="md-primary"></md-icon>
                            <md-divider ng-hide="$last"></md-divider>
                        </md-list-item>
                    </md-list>
                </tri-widget>
                <tri-widget palette-background="deep-orange:600">
                    <img class="full-width" src="assets/images/avatars/avatar-big.png" alt="my face">

                    <div>
                        <md-divider></md-divider>
                        <h2 class="opacity-90 margin-10 text-center">
                            About me
                        </h2>
                        <p class="md-body-2 opacity-80 padding-normal padding-top-0 text-center">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi voluptatibus.
                        </p>
                    </div>
                </tri-widget>
            </div>
        </div>
    </div>
</div>