<div class="dashboard-container overlay-10 padded-content-page" layout="column">
    <div layout-gt-lg="row" layout-margin>
        <tri-widget server-widget flex flex-gt-lg="70">
            <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="">
                <md-tab label="{{'DASHBOARDS.SERVER.REAL_TIME' | translate}}">
                    <md-content class="md-padding">
                        <h1 class="md-headline"><span translate>DASHBOARDS.SERVER.BANDWIDTH</span> <span class="md-caption">(Mbps)</span></h1>
                        <canvas class="chart-line" data="serverCharts.bandwidth.data" labels="serverCharts.bandwidth.labels" legend="false" options="serverCharts.bandwidth.options" colours="serverCharts.bandwidth.colours"></canvas>
                        <h1 class="md-headline"><span translate>DASHBOARDS.SERVER.CPU</span> <span class="md-caption">(%)</span></h1>
                        <canvas class="chart-line" data="serverCharts.cpu.data" labels="serverCharts.cpu.labels" legend="false" options="serverCharts.cpu.options" colours="serverCharts.cpu.colours"></canvas>
                    </md-content>
                </md-tab>
                <md-tab label="{{'DASHBOARDS.SERVER.24HRS' | translate}}">
                    <md-content class="md-padding">
                        <canvas class="chart-bar" data="serverCharts.data24hrs.data" labels="serverCharts.data24hrs.labels" legend="true" options="serverCharts.data24hrs.options" series="serverCharts.data24hrs.series"></canvas>
                    </md-content>
                </md-tab>
                <md-tab label="{{'DASHBOARDS.SERVER.7DAYS' | translate}}">
                    <md-content class="md-padding">
                        <canvas class="chart-bar" data="serverCharts.data7days.data" labels="serverCharts.data7days.labels" legend="true" options="serverCharts.data7days.options" series="serverCharts.data7days.series"></canvas>
                    </md-content>
                </md-tab>
                <md-tab label="{{'DASHBOARDS.SERVER.365DAYS' | translate}}">
                    <md-content class="md-padding">
                        <canvas class="chart-bar" data="serverCharts.data365days.data" labels="serverCharts.data365days.labels" legend="true" options="serverCharts.data365days.options" series="serverCharts.data365days.series"></canvas>
                    </md-content>
                </md-tab>
            </md-tabs>
        </tri-widget>
        <div flex layout="column" layout-margin>
            <tri-widget palette-background="cyan:500" background="primary" content-layout="row" content-layout-align="space-between center" content-padding>
                <div>
                    <md-icon class="font-size-5 opacity-50" md-font-icon="icon-gps-fixed"></md-icon>
                </div>
                <div layout="column" layout-align="center end">
                    <p class="md-display-1 font-weight-100 margin-top-0 margin-bottom-0 text-ellipsis">192.168.1.1</p>
                    <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-0" translate>DASHBOARDS.SERVER.IP</p>
                </div>
            </tri-widget>
            <tri-widget palette-background="cyan:600" background="primary" content-layout="row" content-layout-align="space-between center" content-padding>
                <div>
                    <md-icon class="font-size-5 opacity-50" md-font-icon="icon-memory"></md-icon>
                </div>
                <div layout="column" layout-align="center end">
                    <p class="md-display-1 font-weight-100 margin-top-0 margin-bottom-0 text-ellipsis" countupto="2" decimals="0" options="{suffix: 'Gb'}"></p>
                    <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-0" translate>DASHBOARDS.SERVER.MEMORY</p>
                </div>
            </tri-widget>
            <tri-widget palette-background="cyan:700" background="primary" content-layout="row" content-layout-align="space-between center" content-padding>
                <div>
                    <md-icon class="font-size-5 opacity-50" md-font-icon="icon-storage"></md-icon>
                </div>
                <div layout="column" layout-align="center end">
                    <p class="md-display-1 font-weight-100 margin-top-0 margin-bottom-0" countupto="30" decimals="0" options="{suffix: 'Gb'}"></p>
                    <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-0" translate>DASHBOARDS.SERVER.DISK</p>
                </div>
            </tri-widget>
            <tri-widget palette-background="cyan:800" background="primary" content-layout="row" content-layout-align="space-between center" content-padding>
                <div>
                    <md-icon class="font-size-5 opacity-50" md-font-icon="icon-location-on"></md-icon>
                </div>
                <div layout="column" layout-align="center end">
                    <p class="md-display-1 font-weight-100 margin-top-0 margin-bottom-0">London</p>
                    <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-0" translate>DASHBOARDS.SERVER.LOCATION</p>
                </div>
            </tri-widget>
        </div>
    </div>

    <div layout="row" layout-sm="column" layout-margin>
        <tri-widget flex="50" flex-sm="100" title="DASHBOARDS.SERVER.DISKS">
            <md-divider></md-divider>
            <md-list>
                <md-list-item ng-repeat="disk in ::vm.disks">
                    <md-icon md-font-icon="{{::disk.icon}}" class="md-primary"></md-icon>
                    <p class="text-ellipsis padding-right-50">{{::disk.name}}</p>
                    <md-switch class="md-secondary" ng-model="disk.enabled"></md-switch>
                    <md-divider ng-hide="::$last"></md-divider>
                </md-list-item>
            </md-list>
        </tri-widget>
        <tri-widget flex title="DASHBOARDS.SERVER.JOB" background="primary">
            <md-divider></md-divider>
            <md-list>
                <md-list-item class="md-2-line" ng-repeat="job in ::vm.jobs">
                    <div class="md-list-item-text">
                        <h3>{{::job.job}}</h3>
                        <p>{{::job.time}}</p>
                    </div>
                    <md-icon md-font-icon="icon-check alert-success" ng-show="::job.complete"></md-icon>
                    <md-icon md-font-icon="icon-close alert-error" ng-hide="::job.complete"></md-icon>
                    <md-divider ng-hide="$last"></md-divider>
                </md-list-item>
            </md-list>
        </tri-widget>

    </div>

    <div layout="row" layout-sm="column" layout-margin>
        <tri-widget chartjs-pie-widget flex="40" flex-md="40" flex-sm="100" title="DASHBOARDS.SERVER.DISKUSAGE" subtitle="DASHBOARDS.SERVER.DATE" content-padding>
            <div flex>
                <canvas class="chart-doughnut full-width" data="vm.serverChart.data" legend="true" labels="vm.serverChart.labels"></canvas>
            </div>
        </tri-widget>
        <tri-widget flex-sm="100" title="DASHBOARDS.SERVER.USAGE" palette-background="cyan:600" content-layout="column" content-layout-align="start center">
            <div class="full-width" layout="row" layout-padding>
                <h4 flex="20" class="opacity-80 margin-0 margin-right-20" translate>DASHBOARDS.SERVER.DISK</h4>
                <div flex>
                    <md-progress-linear class="md-warn margin-bottom-10" md-mode="determinate" value="60"></md-progress-linear>
                    <span class="md-caption">(60% <span translate>DASHBOARDS.SERVER.LIMIT</span>)</span>
                </div>
            </div>
            <md-divider flex></md-divider>
            <div class="full-width" layout="row" layout-padding>
                <h4 flex="20" class="opacity-80 margin-0 margin-right-20" translate>DASHBOARDS.SERVER.BANDWIDTH</h4>
                <div flex>
                    <md-progress-linear class="md-accent margin-bottom-10" md-mode="determinate" value="30"></md-progress-linear>
                    <span class="md-caption">(30% <span translate>DASHBOARDS.SERVER.LIMIT</span>)</span>
                </div>
            </div>
            <md-divider flex></md-divider>
            <div class="full-width" layout="row" layout-padding>
                <h4 flex="20" class="opacity-80 margin-0 margin-right-20" translate>DASHBOARDS.SERVER.USAGE</h4>
                <div flex>
                    <md-progress-linear class="md-warn margin-bottom-10" md-mode="determinate" value="83"></md-progress-linear>
                    <span class="md-caption">(83% <span translate>DASHBOARDS.SERVER.LIMIT</span>)</span>
                </div>
            </div>
            <md-divider flex></md-divider>
            <div class="full-width" layout="row" layout-padding>
                <h4 flex="20" class="opacity-80 margin-0 margin-right-20" translate>DASHBOARDS.SERVER.MEMORY</h4>
                <div flex>
                    <md-progress-linear class="md-accent margin-bottom-10" md-mode="determinate" value="65"></md-progress-linear>
                    <span class="md-caption">(65% <span translate>DASHBOARDS.SERVER.LIMIT</span>)</span>
                </div>
            </div>
        </tri-widget>
    </div>
</div>